<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Thoughts of user</title>
</head>
<body>

  <div class="d-flex justify-content-around bg-light py-3">
    <h2>Welcome {{user.first_name}}!</h2>
    <div>
    <a href="/">Dashboard</a>
    <a href="/logout" ><button class="btn btn-secondary mx-3">Logout</button></a>
</div>
</div>

<div class="container my-5 ">
    <h4><a href="/user/{{ thought.user_id }}">{{thought.first_name}}</a> says</h4>

    <div class="justify-content-center">


  <div class="border-bottom  border-dark pt-4 w-75">
      <p>{{thought.thought_content}}</p>

    </div>

    <hr>
    <h4>People who liked this post</h4>
    <table style="border: 1px solid black; width: 200px;">
      {% for name in thought.users_who_liked %}
      <tr style="border: 1px solid black;">
        <td style="text-align:center ;">
          <a href="/user/{{name.id}}">{{name.first_name}}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>


</body>
</html>
